body {
  background: #f1f1f1;
}

.card.product .btn {
  bottom: 1.5rem;
  max-width: 80%;
}

.price {
  font-size: 1.75rem;
}

@media (max-width: 768px) {
  .card-container {
    margin-bottom: 2rem;
  }
}